<!-- bundle scripts -->
<%- include('includes/head') %>
<!--/bundle scripts -->

<body class="">
    <main class="wrapper">

            <!--header-->
            <%- include('header') %>
            <!--header-->

            <!--banner-->
            <%- include('banner') %>

            <!--about-->
            <%- include('about') %>
            <!--/about-->

            <!--Connect-->
            <%- include('connect') %>
            <!--/Connect-->

            <!--/mapa-->
            <section id="anchorFor" class="s-content s-mapa w-100 pb-0">
                <h2 class="text-center s-content__title--main mb-4 text-black">
                    <b data-i18n="nav.points"></b>
                </h2>
                <div id="map" class="mt-3">
                </div>
            </section>
            <!--/mapa-->

            <!--Modal-->
            <%- include('modal') %>
            <!--Modal-->

            <!--/parceiros-->
            <%- include('parceiros') %>
            <!--/Parceiros-->

            <!--banner dados abertos-->
            <%- include('dataset') %>
            <!--/banner dados abertos-->

            <!--faq-->
            <%- include('faq') %>
            <!--/faq-->

            <!--fale conosco-->
            <section id="anchorCon" class="s-content s-connect">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col">
                            <h2 class="text-center s-content__title--main mb-4 text-black"><b data-i18n="nav.contact"></b></h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form
                                id="contact-form"
                                method="POST"
                                action="/send"
                            >
                            <input name="_csrf" value=<%= csrfToken %>  type="hidden">
                                <div class="form-row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="nomeCompleto" data-i18n="form.name"></label>
                                            <input type="text" class="form-control" required id="nomeCompleto" name="nome" aria-describedby="nomeCompleto" data-i18n="[placeholder]form.namePlace">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email" data-i18n="form.email"></label>
                                            <input type="email" class="form-control" required id="email" name="email" aria-describedby="email" data-i18n="[placeholder]form.emailPlace">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1" data-i18n="form.message"></label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" required  name="mensagem" rows="6" data-i18n="[placeholder]form.messagePlace"></textarea>
                                            <button type="submit" class="btn btn-success mt-4 btnProjeto">
                                                <span class="txtEnviar" data-i18n="form.send"></span>
                                                <span class="txtEnviando">
                                                    <img class="img" alt="" width="25"
                                                        src="./assets/img/loading.gif" />
                                                </span>
                                            </button>
                                            <div class="alertForm alert alert-dismissible fade show mt-3 hide" role="alert">
                                                <strong id="alertCodigo">code</strong> <span id="alertMessage">message</span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--/faleconosco-->

        </div>

        <!--footer-->
        <%- include('footer') %>
        <!--/footer-->
    </main>
</body>

 <!-- bundle scripts -->
 <%- include('includes/scripts') %>
 <!--/bundle scripts -->



