<!-- bundle scripts -->
<%- include('includes/head') %>
<!--/bundle scripts -->

<body class="">
    <main class="wrapper">

            <!--header-->
            <%- include('header') %>
            <!--header-->

            <!--banner-->
            <%- include('banner') %>

            <!--about-->
            <%- include('about') %>
            <!--/about-->

            <!--Connect-->
            <%- include('connect') %>
            <!--/Connect-->

            <!--/mapa-->
            <section id="anchorFor" class="s-content s-mapa w-100 pb-0">
                <h2 class="text-center s-content__title--main mb-4 text-black">
                    <b data-i18n="nav.points"></b>
                </h2>
                <div id="map" class="mt-3">
                </div>
            </section>

            <section id="anchorMis" class="s-content s-local bg-main ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="text-center font-weight-bold text-white mb-5" data-i18n="map.title"></h4>
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-6 col-6 d-flex align-items-stretch justify-content-center p-4" data-aos="zoom-in" data-aos-delay="100">
                                   <div class="icon-box iconbox-blue">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModal">
                                      <div class="icon">
                                        <img src="./assets/img/praca.png" width="125" alt="icone da praça">
                                      </div>
                                      <h4 data-i18n="mapa.squares"></h4>
                                    </a>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-6 d-flex align-items-stretch justify-content-center p-4" data-aos="zoom-in" data-aos-delay="200">
                                   <div class="icon-box iconbox-orange ">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModal2">
                                      <div class="icon">
                                        <img src="./assets/img/terminal.png" width="125" alt="icone da terminal">
                                      </div>
                                      <h4 data-i18n="mapa.terminais"></h4>
                                    </a>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-6 d-flex align-items-stretch justify-content-center p-4" data-aos="zoom-in" data-aos-delay="300">
                                   <div class="icon-box iconbox-pink">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModal3">
                                        <div class="icon">
                                            <img src="./assets/img/brt.png" width="125" alt="icone da brt">
                                        </div>
                                      <h4 data-i18n="mapa.brt"></h4>
                                    </a>
                                   </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-4 col-md-6 col-6 d-flex align-items-stretch justify-content-center p-4" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="icon-box iconbox-pink">
                                        <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModal4">
                                            <div class="icon">
                                                <img src="./assets/img/public.png" width="125" alt="icone da equipamento publico">
                                            </div>
                                            <h4 data-i18n="mapa.equipamento"></h4>
                                        </a>
                                    </div>
                                 </div>
                                 <div class="col-lg-4 col-md-6 col-6 d-flex align-items-stretch justify-content-center p-4" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon-box iconbox-teal">
                                        <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModal5">
                                            <div class="icon">
                                                <img src="./assets/img/outro.png" width="125" alt="icone da outros">
                                            </div>
                                            <h4 data-i18n="mapa.outros"></h4>
                                       </a>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="text-white text-center">
                                <b data-i18n="mapa.subtitle"></b>
                            </label>
                            <div class="card p-4 mt-3">
                                <b class="mb-2">
                                    <i class="icon-feed icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                    <span class="mr-1" data-i18n="mapa.quantPontos"></span><small class="font-weight-bold" data-i18n="mapa.quantPontosTxt"></small><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><small class="font-weight-bold" data-i18n="mapa.quantLocationsTxt"></small>
                                </b>
                                <ul class="font-weight-bold s-local--list">
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsSquares"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantSquares"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsBrt"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantBrt"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsTer"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantTer"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsCucas"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantCucas"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsAren"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantAren"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsBm"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantBm"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span data-i18n="mapa.spotsPi"></span><small class="mr-1 ml-1 font-weight-bold" data-i18n="mapa.preposition"></small><span data-i18n="mapa.quantPi"></span>
                                    </li>
                                    <li>
                                        <i class="icon-location-pin icons mr-2 font-weight-bold" aria-hidden="true"></i>
                                        <span>Outros pontos,  exemplo:</span>
                                        <small class="mr-1 ml-1 font-weight-bold">em</small>
                                        <span>cruzamentos</span><br>
                                        <small class="mr-1 ml-1 font-weight-bold"> (ainda há pontos por mapear)</small>
                                    </li>
                                </ul>
                                <!-- <ul class="list-unstyled font-weight-bold">
                                    <li><i class="icon-people icons mr-2 font-weight-bold" aria-hidden="true"></i><span data-i18n="mapa.quantUsu"></span></li>
                                </ul> -->
                                <ul class="list-unstyled font-weight-bold mb-0">
                                    <li data-i18n="mapa.infoAddTitle"></li>
                                    <li><i class="fa fa-bus mr-2 font-weight-bold" aria-hidden="true"></i><span data-i18n="mapa.infoUrban"></span></li>
                                    <li><i class="fa fa-bus mr-2 font-weight-bold" aria-hidden="true"></i><span data-i18n="mapa.infoMetro"></span></li>
                                </ul>
                                <small>
                                    <ul>
                                        <li data-i18n="mapa.infoRota"></li>
                                        <li data-i18n="[html]mapa.infoUrbanLin"></li>
                                        <li data-i18n="[html]mapa.infoMetLin"></li>
                                    </ul>
                                </small>
                                <small class="text-muted">
                                    Informações compiladas com base em dados enviados pelos parceiros até 25 de maio de 2023.*
                                </small>
                                <small class="text-muted">
                                    Consideramos aqui como "ponto de wifi" o dispositivo
                                    (Acess Point) que disponibiliza o sinal Wi-Fi para uma dada área.
                                </small>
                            </div>
                        </div>
                     </div>
                </div>
            </section>
            <!--/mapa-->

            <!--Modal-->
            <%- include('modal') %>
            <!--Modal-->

            <!--/parceiros-->
            <%- include('parceiros') %>
            <!--/Parceiros-->

            <!--banner dados abertos-->
            <%- include('dataset') %>
            <!--/banner dados abertos-->

            <!--faq-->
            <%- include('faq') %>
            <!--/faq-->

            <!--fale conosco-->
            <section id="anchorCon" class="s-content s-connect">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col">
                            <h2 class="text-center s-content__title--main mb-4 text-black"><b data-i18n="nav.contact"></b></h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form
                                id="contact-form"
                                method="POST"
                                action="/send"
                                enctype="multipart/form-data"
                            >
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <div class="form-row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="nomeCompleto" data-i18n="form.name"></label>
                                            <input type="text" class="form-control" required id="nomeCompleto" name="nome" aria-describedby="nomeCompleto" data-i18n="[placeholder]form.namePlace">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email" data-i18n="form.email"></label>
                                            <input type="email" class="form-control" required id="email" name="email" aria-describedby="email" data-i18n="[placeholder]form.emailPlace">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Assunto</label>
                                            <input type="text" class="form-control" id="subject"  name="anexo" aria-describedby="anexo" placeholder="Imagem ou algo ">
                                        </div>
                                    </div> -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1" data-i18n="form.message"></label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" required  name="mensagem" rows="6" data-i18n="[placeholder]form.messagePlace"></textarea>
                                            <button type="submit" class="btn btn-success mt-4 btnProjeto">
                                                <span class="txtEnviar" data-i18n="form.send"></span>
                                                <span class="txtEnviando">
                                                    <img class="img" alt="" width="25"
                                                        src="./assets/img/loading.gif" />
                                                </span>
                                            </button>
                                            <div class="alertForm alert alert-dismissible fade show mt-3 hide" role="alert">
                                                <strong id="alertCodigo">code</strong> <span id="alertMessage">message</span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--/faleconosco-->

        </div>

        <!--footer-->
        <%- include('footer') %>
        <!--/footer-->
    </main>
</body>

 <!-- bundle scripts -->
 <%- include('includes/scripts') %>
 <!--/bundle scripts -->



